<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SF11App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
				<key>dateExpires</key>
				<string>22/10/20</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AWSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AWSS3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DeviceKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Themeable.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>34AFE42B5716CC8E22B6CBA9C2B8DD3856486765</string>
						<key>dateExpires</key>
						<string>22/10/20</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BMVTKZA6Z2</string>
						<key>name</key>
						<string>Manoj Sharma</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BMVTKZA6Z2.com.synarioit.sf11</string>
				<key>com.apple.developer.team-identifier</key>
				<string>BMVTKZA6Z2</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>BMVTKZA6Z2.com.synarioit.sf11</string>
				</array>
			</dict>
			<key>name</key>
			<string>SF11.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ac699adb-22f0-4163-b022-3c32bb11a243</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.synarioit.sf11</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BMVTKZA6Z2</string>
				<key>name</key>
				<string>Manoj Sharma</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
